<section id="top_info">
  <center><h1>Microdose Diary for <%= @microdose_log_entry.created_at %></h1></center>
</section>

<section id="details">
  <h3>Mood Before: <%= @microdose_log_entry.mood_before %></h3>
  <h3>Mood After: <%= @microdose_log_entry.mood_after %></h3>
  <h3>Environment: <%= @microdose_log_entry.environment %></h3>
  <h3>Dosage: <%= @microdose_log_entry.dosage %> grams</h3>
  <h3>Intensity: <%= @microdose_log_entry.intensity %></h3>
  <h3>Sociability: <%= @microdose_log_entry.sociability %></h3>
  <h3>Other Notes: <%= @microdose_log_entry.other_notes %></h3>
<br><br>

<section id="journal_prompt">
  <h3>Journal Prompt:</h3>
  <p><%= @microdose_log_entry.journal_prompt %></p>
</section>

<section id="journal_entry">
  <h3>Journal Entry:</h3>
  <p><%= @microdose_log_entry.journal_entry %></p>
</section>