<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PsyDiary - Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-FwAd3MqDfGVzIIXxnfAmK+s4G+yKeJb1aQZ1+Ukfy6YNGY6U37S6jL4+iGnm9XcMfzF4WyIwzlKjcazdMFmfCA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <section id="profile_edit">
    <%= form_with url: user_settings_path, method: :patch, local: true do |f| %>
      <%= f.label :email, "E-mail:" %>
      <%= f.email_field :email %><br>
      <%= f.label :old_password, "Old Password:" %>
      <%= f.password_field :old_password %><br>
      <%= f.label :new_password, "New Password:" %>
      <%= f.password_field :new_password %><br>
      <%= f.label :password_conf, "Confirm Password:" %>
      <%= f.password_field :password_conf %><br>
      <%= f.label :data_sharing, "Data Sharing:" %>
      <%= f.select :data_sharing, options_for_select(["Allow", "Decline"]), {}, { class: "form-control" } %><br>
      <%= f.submit "Update & Save Changes", class: 'button' %>
    <% end %>
  </section>
    <!-- Bootstrap Bundle JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha512-hwUfpTp6UvO6OZ4ksih4Q6R/Vx47S7ggr/Oh6MeH7oBQlD4ST4+r3adU6NnU6I1/kDyDKsMzQEmn2v78txVEJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>