<h1>Journey Log</h1>

<h3>Track Something New</h3>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 text-center">
        <%= link_to "ðŸŒ… Track Your Day", new_user_daily_log_entry_path(@facade.user.id) %>
      </div>
    </div>

    <br>
   
   <div class="row justify-content-center align-items-center">
      <div class="col-md-4 text-center">
        <%= link_to "ðŸ„ Track a Microdose", new_user_microdose_log_entry_path(@facade.user.id) %>
      </div>
    </div>

<% n = 0 %>
<% @facade.entries.each do |entry| %>
  <% if entry.class == DailyLogEntry %>
    <div id="entry-<%=n += 1 %>">
      <h5>Date: <%= entry.format_date %></h5>
      <h5>Type: Daily Log Entry</h5>
      <%= link_to "Details", user_daily_log_entry_path(@facade.user.id, entry.id) %>
    </div>
  <% else %>
    <div id="entry-<%=n += 1 %>">
      <h5>Date: <%=entry.format_date %></h5>
      <h5>Type: Microdose Log Entry</h5>
      <%= link_to "Details", user_microdose_log_entry_path(@facade.user.id, entry.id) %>
    </div>
  <% end %>
<% end %>