<h1>Your Journey Starts Here!</h1>

<%= form_with url: users_path, method: :post, local: true do |f| %>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>

  <%= f.label :email, "Email:" %>
  <%= f.text_field :email %>

  <%= f.label :password, "Set a Password:" %>
  <%= f.text_field :password %>

  <%= f.hidden_field :ip_address, value: @ip_address%>


  <%n=0%>
  <div id="protocols">
  <p>Select Your Protocol:</p>
    <%@facade.default_protocols.each do |protocol|%>
      <p><%=protocol.name%></p>
      <p><%=protocol.description%></p>
      <%= f.label :protocol_id, "Choose #{protocol.name}", class: "form-label" %>
      <%= f.radio_button :protocol_id, protocol.id %>
      <br>
    <%end%>
  </div>

  <%= f.label :data_sharing, "I Elect to Share My Health Trend Data:" %>
  <%= f.select :data_sharing, ['True', 'False'] %>
<br>
  <%= f.submit "Begin My Journey" %>
<% end %>
<br>
<h1>OR...</h1>
<%= link_to "Log In with Google", '/auth/google_oauth2'  %>