<h1>Your Journey Start Here!</h1>

<%= form_with url: users_path, method: :post, local: true do |f| %>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>

  <%= f.label :email, "Email:" %>
  <%= f.text_field :email %>

  <%= f.label :data_sharing, "I Elect to Share My Health Trend Data:" %>
  <%= f.select :data_sharing, ['Yes', 'No'] %>

  <%= f.submit "Begin My Journey" %>
<% end %>