<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-sm-6">
        <div class="card p-4">
          <h3 class="card-title text-center mb-4">Track Your Day</h3>
          <%= form_with url: user_daily_log_entries_path(@facade.user), method: :post, class: "row g-3" do |f| %>
            <div class="col-md-12">
              <%= f.label :email, "Email Address:", class: "form-label" %>
              <%= f.text_field :email, class: "form-control" %>
            </div>
            <div class="col-md-12">
              <%= f.label :password, "Password:", class: "form-label" %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="col-md-12">
              <%= f.submit "Log In", class: "btn btn-dark w-100 mb-3 text-white" %>
              <%= link_to "Login through Google","/login", class: "btn btn-dark w-100 text-white" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>